.container{
    display: grid;
    /*text-align: center; */
    grid-template-areas:
    'uno uno uno dos dos tres tres tres'
    'uno uno uno dos dos tres tres tres'
    'uno uno uno cuatro cinco cinco nueve nueve'
    'uno uno uno cuatro cinco cinco nueve nueve'
    'ocho ocho ocho cuatro cinco cinco nueve nueve'
    'ocho ocho ocho cuatro cinco cinco nueve nueve'
    'ocho ocho ocho seis seis siete nueve nueve'
    'ocho ocho ocho seis seis siete nueve nueve'
    ;
    border: solid 5px;
    }
.uno{
    background-color:red;
    border: solid 5px;
    grid-area: uno;
}
.dos{
    background-color: aquamarine;
    border: solid 5px;
    grid-area: dos;
}
.tres{
    background-color: burlywood;
    border: solid 5px;
    grid-area: tres;
    height: 100px;
}
.cuatro{
    background-color: burlywood;
    border: solid 5px;
    grid-area: cuatro;
}
.cinco{
    background-color: white;
    border: solid 5px;
    grid-area: cinco;
}
.seis{
    background-color: red;
    border: solid 5px;
    grid-area: seis;
}
.siete{
    background-color: aquamarine;
    border: solid 5px;
    grid-area: siete;
}
.ocho{
    background-color: white;
    border: solid 5px;
    grid-area: ocho;
}
.nueve{
    background-color: red;
    border: solid 5px;
    grid-area: nueve;
    height: 200px;
}